:root {
  --clr-primary-100: #1d2c67;
  --clr-primary-200: #0c122c;
  --clr-neutral-100: white;
  --clr-neutral-200: #dddbff;
  --clr-neutral-300: #848794;
  --clr-gradient-1: #ffa399;
  --clr-gradient-2: #ff4d97;
  --fw-normal: 400;
  --fw-bold: 700;
  --ff-main: "Raleway", sans-serif;
  --transition-delay: 250ms;
}

body {
  font-size: 14px;
  font-weight: var(--fw-normal);
  font-family: var(--ff-main);
  background: bottom/contain no-repeat url(../images/bg-desktop.png) var(--clr-primary-200);
  display: grid;
  place-content: center;
}
@media (max-width: 50rem) {
  body {
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
  }
}

.main {
  --padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: clamp(45rem, 50vw, 80rem);
}
@media (max-width: 50rem) {
  .main {
    flex-direction: column;
    align-items: center;
    row-gap: var(--padding);
    width: auto;
    padding: 0 calc(var(--padding) / 2);
  }
}

.flow > * + * {
  margin-top: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.fylo {
  background-color: var(--clr-primary-100);
  padding: var(--padding) calc(var(--padding) * 4) var(--padding) var(--padding);
  border-top-left-radius: 1rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.fylo__icons {
  display: flex;
  gap: calc(var(--padding) / 2);
}
.fylo__icon {
  padding: calc(var(--padding) / 3);
  border: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: var(--clr-primary-200);
  transition: transform var(--transition-delay);
  cursor: pointer;
}
.fylo__icon:hover, .fylo__icon:focus {
  transform: scale(1.1);
}

.storage {
  width: 50%;
  padding: var(--padding);
  background-color: var(--clr-primary-100);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: var(--clr-neutral-200);
  position: relative;
}
@media (max-width: 50rem) {
  .storage {
    width: 100%;
  }
}
.storage__text {
  margin-bottom: 1em;
}
.storage__text span {
  font-weight: var(--fw-bold);
}
.storage__info {
  background-color: var(--clr-neutral-100);
  padding: 1em;
  color: var(--clr-neutral-300);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  position: absolute;
  right: var(--padding);
  top: -1.5rem;
}
.storage__info span {
  color: var(--clr-primary-100);
  font-weight: var(--fw-bold);
}
.storage__info::after {
  position: absolute;
  content: "";
  border-top: 20px solid var(--clr-neutral-100);
  border-left: 20px solid transparent;
  bottom: -20px;
  right: 0;
}
@media (max-width: 50rem) {
  .storage__info {
    top: 100%;
    right: 50%;
    transform: translate(50%, -50%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .storage__info::after {
    display: none;
  }
}
.storage__usage {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.storage__bar {
  width: 100%;
  height: 1.5rem;
  background-color: var(--clr-primary-200);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  position: relative;
}
.storage__bar::before {
  position: absolute;
  content: "";
  width: 81.5%;
  height: 70%;
  left: 0.25em;
  top: 0.25em;
  background-image: linear-gradient(to right, var(--clr-gradient-1), var(--clr-gradient-2));
  border-radius: inherit;
}
.storage__bar::after {
  position: absolute;
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  left: calc(78% + 0.25em);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--clr-neutral-200);
}
.storage__amounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
