.storage {
	width: 50%;
	padding: var(--padding);
	background-color: var(--clr-primary-100);
	@include rounded(1, 1, 1, 1);
	color: var(--clr-neutral-200);
	@include mq(medium) {
		width: 100%;
	}
	position: relative;

	&__text {
		margin-bottom: 1em;
		span {
			font-weight: var(--fw-bold);
		}
	}

	&__info {
		background-color: var(--clr-neutral-100);
		padding: 1em;
		color: var(--clr-neutral-300);
		span {
			color: var(--clr-primary-100);
			font-weight: var(--fw-bold);
		}

		@include rounded(1, 1, 0, 1);
		@include pseudo(after) {
			border-top: 20px solid var(--clr-neutral-100);
			border-left: 20px solid transparent;
			bottom: -20px;
			right: 0;
		}
		position: absolute;
		right: var(--padding);
		top: -1.5rem;
		@include mq(medium) {
			&::after {
				display: none;
			}

			top: 100%;
			right: 50%;
			transform: translate(50%, -50%);
			@include rounded(1, 1, 1, 1);
		}
	}

	&__usage {
		display: flex;
		flex-direction: column;
		row-gap: 0.5em;
	}

	&__bar {
		width: 100%;
		height: 1.5rem;
		background-color: var(--clr-primary-200);
		@include rounded(1, 1, 1, 1);

		@include pseudo(before) {
			width: 81.5%;
			height: 70%;
			left: 0.25em;
			top: 0.25em;
			background-image: linear-gradient(
				to right,
				var(--clr-gradient-1),
				var(--clr-gradient-2)
			);
			border-radius: inherit;
		}

		@include pseudo(after) {
			width: 0.75rem;
			height: 0.75rem;
			left: calc(78% + 0.25em);
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: var(--clr-neutral-200);
		}
	}

	&__amounts {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
